.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
}

.cadastrar{
    background-color: green;
    margin: 0.5rem;
}

.editar{
    background-color: aqua;
    margin: 0.5rem;
}

.listar{
    background-color: orange;
    margin: 0.5rem;
}

.excluir{
    background-color: tomato;
    margin: 0.5rem;
}

.cancelar{
    background-color: gray;
    margin: 0.5rem;
}